<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.bean.Authority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="banAccount" jdbcType="BIT" property="banAccount" />
    <result column="banTopic" jdbcType="BIT" property="banTopic" />
    <result column="banReply" jdbcType="BIT" property="banReply" />
    <result column="banMessage" jdbcType="BIT" property="banMessage" />
    <result column="banFiction" jdbcType="BIT" property="banFiction" />
    <result column="banComment" jdbcType="BIT" property="banComment" />
    <result column="deleteOwnTopic" jdbcType="BIT" property="deleteOwnTopic" />
    <result column="deleteOwnReply" jdbcType="BIT" property="deleteOwnReply" />
    <result column="deleteOwnFiction" jdbcType="BIT" property="deleteOwnFiction" />
    <result column="deleteOwnChapter" jdbcType="BIT" property="deleteOwnChapter" />
    <result column="deleteOwnComment" jdbcType="BIT" property="deleteOwnComment" />
    <result column="deleteTopic" jdbcType="BIT" property="deleteTopic" />
    <result column="deleteReply" jdbcType="BIT" property="deleteReply" />
    <result column="deleteFiction" jdbcType="BIT" property="deleteFiction" />
    <result column="deleteChapter" jdbcType="BIT" property="deleteChapter" />
    <result column="deleteComment" jdbcType="BIT" property="deleteComment" />
    <result column="lockTopic" jdbcType="BIT" property="lockTopic" />
    <result column="lockFiction" jdbcType="BIT" property="lockFiction" />
    <result column="lockChapter" jdbcType="BIT" property="lockChapter" />
    <result column="lockNotice" jdbcType="BIT" property="lockNotice" />
    <result column="lockContentOfTopic" jdbcType="BIT" property="lockContentOfTopic" />
    <result column="lockContentOfFiction" jdbcType="BIT" property="lockContentOfFiction" />
    <result column="lockContentOfChapter" jdbcType="BIT" property="lockContentOfChapter" />
    <result column="lockCommentOfOwnFiction" jdbcType="BIT" property="lockCommentOfOwnFiction" />
    <result column="lockCommentOfOwnChapter" jdbcType="BIT" property="lockCommentOfOwnChapter" />
    <result column="lockCommentOfFiction" jdbcType="BIT" property="lockCommentOfFiction" />
    <result column="lockCommentOfChapter" jdbcType="BIT" property="lockCommentOfChapter" />
    <result column="hideOwnTopic" jdbcType="BIT" property="hideOwnTopic" />
    <result column="hideOwnFiction" jdbcType="BIT" property="hideOwnFiction" />
    <result column="hideOwnChapter" jdbcType="BIT" property="hideOwnChapter" />
    <result column="hideOwnComment" jdbcType="BIT" property="hideOwnComment" />
    <result column="hideTopic" jdbcType="BIT" property="hideTopic" />
    <result column="hideFiction" jdbcType="BIT" property="hideFiction" />
    <result column="hideChapter" jdbcType="BIT" property="hideChapter" />
    <result column="hideComment" jdbcType="BIT" property="hideComment" />
    <result column="setAnonymousOfOwnTopic" jdbcType="BIT" property="setAnonymousOfOwnTopic" />
    <result column="setAnonymousOfOwnReply" jdbcType="BIT" property="setAnonymousOfOwnReply" />
    <result column="setAnonymousOfOwnComment" jdbcType="BIT" property="setAnonymousOfOwnComment" />
    <result column="cancelAnonymousOfOwnTopic" jdbcType="BIT" property="cancelAnonymousOfOwnTopic" />
    <result column="cancelAnonymousOfOwnReply" jdbcType="BIT" property="cancelAnonymousOfOwnReply" />
    <result column="cancelAnonymousOfOwnComment" jdbcType="BIT" property="cancelAnonymousOfOwnComment" />
    <result column="cancelAnonymousTopic" jdbcType="BIT" property="cancelAnonymousTopic" />
    <result column="cancelAnonymousReply" jdbcType="BIT" property="cancelAnonymousReply" />
    <result column="cancelAnonymousComment" jdbcType="BIT" property="cancelAnonymousComment" />
    <result column="restricOwnFiction" jdbcType="BIT" property="restricOwnFiction" />
    <result column="restricOwnChapter" jdbcType="BIT" property="restricOwnChapter" />
    <result column="restricOwnTopic" jdbcType="BIT" property="restricOwnTopic" />
    <result column="restrictFiction" jdbcType="BIT" property="restrictFiction" />
    <result column="restricChapter" jdbcType="BIT" property="restricChapter" />
    <result column="restricTopic" jdbcType="BIT" property="restricTopic" />
    <result column="restricCategory" jdbcType="BIT" property="restricCategory" />
    <result column="restricBoard" jdbcType="BIT" property="restricBoard" />
    <result column="addCategory" jdbcType="BIT" property="addCategory" />
    <result column="addBoard" jdbcType="BIT" property="addBoard" />
    <result column="lockCategory" jdbcType="BIT" property="lockCategory" />
    <result column="lockBoard" jdbcType="BIT" property="lockBoard" />
    <result column="hideCategory" jdbcType="BIT" property="hideCategory" />
    <result column="hideBoard" jdbcType="BIT" property="hideBoard" />
    <result column="deleteCategory" jdbcType="BIT" property="deleteCategory" />
    <result column="deleteBoard" jdbcType="BIT" property="deleteBoard" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, role, banAccount, banTopic, banReply, banMessage, banFiction, banComment, deleteOwnTopic, 
    deleteOwnReply, deleteOwnFiction, deleteOwnChapter, deleteOwnComment, deleteTopic, 
    deleteReply, deleteFiction, deleteChapter, deleteComment, lockTopic, lockFiction, 
    lockChapter, lockNotice, lockContentOfTopic, lockContentOfFiction, lockContentOfChapter, 
    lockCommentOfOwnFiction, lockCommentOfOwnChapter, lockCommentOfFiction, lockCommentOfChapter, 
    hideOwnTopic, hideOwnFiction, hideOwnChapter, hideOwnComment, hideTopic, hideFiction, 
    hideChapter, hideComment, setAnonymousOfOwnTopic, setAnonymousOfOwnReply, setAnonymousOfOwnComment, 
    cancelAnonymousOfOwnTopic, cancelAnonymousOfOwnReply, cancelAnonymousOfOwnComment, 
    cancelAnonymousTopic, cancelAnonymousReply, cancelAnonymousComment, restricOwnFiction, 
    restricOwnChapter, restricOwnTopic, restrictFiction, restricChapter, restricTopic, 
    restricCategory, restricBoard, addCategory, addBoard, lockCategory, lockBoard, hideCategory, 
    hideBoard, deleteCategory, deleteBoard
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.bean.AuthorityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.bean.AuthorityExample">
    delete from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.bean.Authority">
    insert into authority (id, role, banAccount, 
      banTopic, banReply, banMessage, 
      banFiction, banComment, deleteOwnTopic, 
      deleteOwnReply, deleteOwnFiction, deleteOwnChapter, 
      deleteOwnComment, deleteTopic, deleteReply, 
      deleteFiction, deleteChapter, deleteComment, 
      lockTopic, lockFiction, lockChapter, 
      lockNotice, lockContentOfTopic, lockContentOfFiction, 
      lockContentOfChapter, lockCommentOfOwnFiction, 
      lockCommentOfOwnChapter, lockCommentOfFiction, 
      lockCommentOfChapter, hideOwnTopic, hideOwnFiction, 
      hideOwnChapter, hideOwnComment, hideTopic, 
      hideFiction, hideChapter, hideComment, 
      setAnonymousOfOwnTopic, setAnonymousOfOwnReply, 
      setAnonymousOfOwnComment, cancelAnonymousOfOwnTopic, 
      cancelAnonymousOfOwnReply, cancelAnonymousOfOwnComment, 
      cancelAnonymousTopic, cancelAnonymousReply, cancelAnonymousComment, 
      restricOwnFiction, restricOwnChapter, restricOwnTopic, 
      restrictFiction, restricChapter, restricTopic, 
      restricCategory, restricBoard, addCategory, 
      addBoard, lockCategory, lockBoard, 
      hideCategory, hideBoard, deleteCategory, 
      deleteBoard)
    values (#{id,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, #{banAccount,jdbcType=BIT}, 
      #{banTopic,jdbcType=BIT}, #{banReply,jdbcType=BIT}, #{banMessage,jdbcType=BIT}, 
      #{banFiction,jdbcType=BIT}, #{banComment,jdbcType=BIT}, #{deleteOwnTopic,jdbcType=BIT}, 
      #{deleteOwnReply,jdbcType=BIT}, #{deleteOwnFiction,jdbcType=BIT}, #{deleteOwnChapter,jdbcType=BIT}, 
      #{deleteOwnComment,jdbcType=BIT}, #{deleteTopic,jdbcType=BIT}, #{deleteReply,jdbcType=BIT}, 
      #{deleteFiction,jdbcType=BIT}, #{deleteChapter,jdbcType=BIT}, #{deleteComment,jdbcType=BIT}, 
      #{lockTopic,jdbcType=BIT}, #{lockFiction,jdbcType=BIT}, #{lockChapter,jdbcType=BIT}, 
      #{lockNotice,jdbcType=BIT}, #{lockContentOfTopic,jdbcType=BIT}, #{lockContentOfFiction,jdbcType=BIT}, 
      #{lockContentOfChapter,jdbcType=BIT}, #{lockCommentOfOwnFiction,jdbcType=BIT}, 
      #{lockCommentOfOwnChapter,jdbcType=BIT}, #{lockCommentOfFiction,jdbcType=BIT}, 
      #{lockCommentOfChapter,jdbcType=BIT}, #{hideOwnTopic,jdbcType=BIT}, #{hideOwnFiction,jdbcType=BIT}, 
      #{hideOwnChapter,jdbcType=BIT}, #{hideOwnComment,jdbcType=BIT}, #{hideTopic,jdbcType=BIT}, 
      #{hideFiction,jdbcType=BIT}, #{hideChapter,jdbcType=BIT}, #{hideComment,jdbcType=BIT}, 
      #{setAnonymousOfOwnTopic,jdbcType=BIT}, #{setAnonymousOfOwnReply,jdbcType=BIT}, 
      #{setAnonymousOfOwnComment,jdbcType=BIT}, #{cancelAnonymousOfOwnTopic,jdbcType=BIT}, 
      #{cancelAnonymousOfOwnReply,jdbcType=BIT}, #{cancelAnonymousOfOwnComment,jdbcType=BIT}, 
      #{cancelAnonymousTopic,jdbcType=BIT}, #{cancelAnonymousReply,jdbcType=BIT}, #{cancelAnonymousComment,jdbcType=BIT}, 
      #{restricOwnFiction,jdbcType=BIT}, #{restricOwnChapter,jdbcType=BIT}, #{restricOwnTopic,jdbcType=BIT}, 
      #{restrictFiction,jdbcType=BIT}, #{restricChapter,jdbcType=BIT}, #{restricTopic,jdbcType=BIT}, 
      #{restricCategory,jdbcType=BIT}, #{restricBoard,jdbcType=BIT}, #{addCategory,jdbcType=BIT}, 
      #{addBoard,jdbcType=BIT}, #{lockCategory,jdbcType=BIT}, #{lockBoard,jdbcType=BIT}, 
      #{hideCategory,jdbcType=BIT}, #{hideBoard,jdbcType=BIT}, #{deleteCategory,jdbcType=BIT}, 
      #{deleteBoard,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.bean.Authority">
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="banAccount != null">
        banAccount,
      </if>
      <if test="banTopic != null">
        banTopic,
      </if>
      <if test="banReply != null">
        banReply,
      </if>
      <if test="banMessage != null">
        banMessage,
      </if>
      <if test="banFiction != null">
        banFiction,
      </if>
      <if test="banComment != null">
        banComment,
      </if>
      <if test="deleteOwnTopic != null">
        deleteOwnTopic,
      </if>
      <if test="deleteOwnReply != null">
        deleteOwnReply,
      </if>
      <if test="deleteOwnFiction != null">
        deleteOwnFiction,
      </if>
      <if test="deleteOwnChapter != null">
        deleteOwnChapter,
      </if>
      <if test="deleteOwnComment != null">
        deleteOwnComment,
      </if>
      <if test="deleteTopic != null">
        deleteTopic,
      </if>
      <if test="deleteReply != null">
        deleteReply,
      </if>
      <if test="deleteFiction != null">
        deleteFiction,
      </if>
      <if test="deleteChapter != null">
        deleteChapter,
      </if>
      <if test="deleteComment != null">
        deleteComment,
      </if>
      <if test="lockTopic != null">
        lockTopic,
      </if>
      <if test="lockFiction != null">
        lockFiction,
      </if>
      <if test="lockChapter != null">
        lockChapter,
      </if>
      <if test="lockNotice != null">
        lockNotice,
      </if>
      <if test="lockContentOfTopic != null">
        lockContentOfTopic,
      </if>
      <if test="lockContentOfFiction != null">
        lockContentOfFiction,
      </if>
      <if test="lockContentOfChapter != null">
        lockContentOfChapter,
      </if>
      <if test="lockCommentOfOwnFiction != null">
        lockCommentOfOwnFiction,
      </if>
      <if test="lockCommentOfOwnChapter != null">
        lockCommentOfOwnChapter,
      </if>
      <if test="lockCommentOfFiction != null">
        lockCommentOfFiction,
      </if>
      <if test="lockCommentOfChapter != null">
        lockCommentOfChapter,
      </if>
      <if test="hideOwnTopic != null">
        hideOwnTopic,
      </if>
      <if test="hideOwnFiction != null">
        hideOwnFiction,
      </if>
      <if test="hideOwnChapter != null">
        hideOwnChapter,
      </if>
      <if test="hideOwnComment != null">
        hideOwnComment,
      </if>
      <if test="hideTopic != null">
        hideTopic,
      </if>
      <if test="hideFiction != null">
        hideFiction,
      </if>
      <if test="hideChapter != null">
        hideChapter,
      </if>
      <if test="hideComment != null">
        hideComment,
      </if>
      <if test="setAnonymousOfOwnTopic != null">
        setAnonymousOfOwnTopic,
      </if>
      <if test="setAnonymousOfOwnReply != null">
        setAnonymousOfOwnReply,
      </if>
      <if test="setAnonymousOfOwnComment != null">
        setAnonymousOfOwnComment,
      </if>
      <if test="cancelAnonymousOfOwnTopic != null">
        cancelAnonymousOfOwnTopic,
      </if>
      <if test="cancelAnonymousOfOwnReply != null">
        cancelAnonymousOfOwnReply,
      </if>
      <if test="cancelAnonymousOfOwnComment != null">
        cancelAnonymousOfOwnComment,
      </if>
      <if test="cancelAnonymousTopic != null">
        cancelAnonymousTopic,
      </if>
      <if test="cancelAnonymousReply != null">
        cancelAnonymousReply,
      </if>
      <if test="cancelAnonymousComment != null">
        cancelAnonymousComment,
      </if>
      <if test="restricOwnFiction != null">
        restricOwnFiction,
      </if>
      <if test="restricOwnChapter != null">
        restricOwnChapter,
      </if>
      <if test="restricOwnTopic != null">
        restricOwnTopic,
      </if>
      <if test="restrictFiction != null">
        restrictFiction,
      </if>
      <if test="restricChapter != null">
        restricChapter,
      </if>
      <if test="restricTopic != null">
        restricTopic,
      </if>
      <if test="restricCategory != null">
        restricCategory,
      </if>
      <if test="restricBoard != null">
        restricBoard,
      </if>
      <if test="addCategory != null">
        addCategory,
      </if>
      <if test="addBoard != null">
        addBoard,
      </if>
      <if test="lockCategory != null">
        lockCategory,
      </if>
      <if test="lockBoard != null">
        lockBoard,
      </if>
      <if test="hideCategory != null">
        hideCategory,
      </if>
      <if test="hideBoard != null">
        hideBoard,
      </if>
      <if test="deleteCategory != null">
        deleteCategory,
      </if>
      <if test="deleteBoard != null">
        deleteBoard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="banAccount != null">
        #{banAccount,jdbcType=BIT},
      </if>
      <if test="banTopic != null">
        #{banTopic,jdbcType=BIT},
      </if>
      <if test="banReply != null">
        #{banReply,jdbcType=BIT},
      </if>
      <if test="banMessage != null">
        #{banMessage,jdbcType=BIT},
      </if>
      <if test="banFiction != null">
        #{banFiction,jdbcType=BIT},
      </if>
      <if test="banComment != null">
        #{banComment,jdbcType=BIT},
      </if>
      <if test="deleteOwnTopic != null">
        #{deleteOwnTopic,jdbcType=BIT},
      </if>
      <if test="deleteOwnReply != null">
        #{deleteOwnReply,jdbcType=BIT},
      </if>
      <if test="deleteOwnFiction != null">
        #{deleteOwnFiction,jdbcType=BIT},
      </if>
      <if test="deleteOwnChapter != null">
        #{deleteOwnChapter,jdbcType=BIT},
      </if>
      <if test="deleteOwnComment != null">
        #{deleteOwnComment,jdbcType=BIT},
      </if>
      <if test="deleteTopic != null">
        #{deleteTopic,jdbcType=BIT},
      </if>
      <if test="deleteReply != null">
        #{deleteReply,jdbcType=BIT},
      </if>
      <if test="deleteFiction != null">
        #{deleteFiction,jdbcType=BIT},
      </if>
      <if test="deleteChapter != null">
        #{deleteChapter,jdbcType=BIT},
      </if>
      <if test="deleteComment != null">
        #{deleteComment,jdbcType=BIT},
      </if>
      <if test="lockTopic != null">
        #{lockTopic,jdbcType=BIT},
      </if>
      <if test="lockFiction != null">
        #{lockFiction,jdbcType=BIT},
      </if>
      <if test="lockChapter != null">
        #{lockChapter,jdbcType=BIT},
      </if>
      <if test="lockNotice != null">
        #{lockNotice,jdbcType=BIT},
      </if>
      <if test="lockContentOfTopic != null">
        #{lockContentOfTopic,jdbcType=BIT},
      </if>
      <if test="lockContentOfFiction != null">
        #{lockContentOfFiction,jdbcType=BIT},
      </if>
      <if test="lockContentOfChapter != null">
        #{lockContentOfChapter,jdbcType=BIT},
      </if>
      <if test="lockCommentOfOwnFiction != null">
        #{lockCommentOfOwnFiction,jdbcType=BIT},
      </if>
      <if test="lockCommentOfOwnChapter != null">
        #{lockCommentOfOwnChapter,jdbcType=BIT},
      </if>
      <if test="lockCommentOfFiction != null">
        #{lockCommentOfFiction,jdbcType=BIT},
      </if>
      <if test="lockCommentOfChapter != null">
        #{lockCommentOfChapter,jdbcType=BIT},
      </if>
      <if test="hideOwnTopic != null">
        #{hideOwnTopic,jdbcType=BIT},
      </if>
      <if test="hideOwnFiction != null">
        #{hideOwnFiction,jdbcType=BIT},
      </if>
      <if test="hideOwnChapter != null">
        #{hideOwnChapter,jdbcType=BIT},
      </if>
      <if test="hideOwnComment != null">
        #{hideOwnComment,jdbcType=BIT},
      </if>
      <if test="hideTopic != null">
        #{hideTopic,jdbcType=BIT},
      </if>
      <if test="hideFiction != null">
        #{hideFiction,jdbcType=BIT},
      </if>
      <if test="hideChapter != null">
        #{hideChapter,jdbcType=BIT},
      </if>
      <if test="hideComment != null">
        #{hideComment,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnTopic != null">
        #{setAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnReply != null">
        #{setAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnComment != null">
        #{setAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnTopic != null">
        #{cancelAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnReply != null">
        #{cancelAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnComment != null">
        #{cancelAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousTopic != null">
        #{cancelAnonymousTopic,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousReply != null">
        #{cancelAnonymousReply,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousComment != null">
        #{cancelAnonymousComment,jdbcType=BIT},
      </if>
      <if test="restricOwnFiction != null">
        #{restricOwnFiction,jdbcType=BIT},
      </if>
      <if test="restricOwnChapter != null">
        #{restricOwnChapter,jdbcType=BIT},
      </if>
      <if test="restricOwnTopic != null">
        #{restricOwnTopic,jdbcType=BIT},
      </if>
      <if test="restrictFiction != null">
        #{restrictFiction,jdbcType=BIT},
      </if>
      <if test="restricChapter != null">
        #{restricChapter,jdbcType=BIT},
      </if>
      <if test="restricTopic != null">
        #{restricTopic,jdbcType=BIT},
      </if>
      <if test="restricCategory != null">
        #{restricCategory,jdbcType=BIT},
      </if>
      <if test="restricBoard != null">
        #{restricBoard,jdbcType=BIT},
      </if>
      <if test="addCategory != null">
        #{addCategory,jdbcType=BIT},
      </if>
      <if test="addBoard != null">
        #{addBoard,jdbcType=BIT},
      </if>
      <if test="lockCategory != null">
        #{lockCategory,jdbcType=BIT},
      </if>
      <if test="lockBoard != null">
        #{lockBoard,jdbcType=BIT},
      </if>
      <if test="hideCategory != null">
        #{hideCategory,jdbcType=BIT},
      </if>
      <if test="hideBoard != null">
        #{hideBoard,jdbcType=BIT},
      </if>
      <if test="deleteCategory != null">
        #{deleteCategory,jdbcType=BIT},
      </if>
      <if test="deleteBoard != null">
        #{deleteBoard,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.bean.AuthorityExample" resultType="java.lang.Long">
    select count(*) from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authority
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.role != null">
        role = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.banAccount != null">
        banAccount = #{record.banAccount,jdbcType=BIT},
      </if>
      <if test="record.banTopic != null">
        banTopic = #{record.banTopic,jdbcType=BIT},
      </if>
      <if test="record.banReply != null">
        banReply = #{record.banReply,jdbcType=BIT},
      </if>
      <if test="record.banMessage != null">
        banMessage = #{record.banMessage,jdbcType=BIT},
      </if>
      <if test="record.banFiction != null">
        banFiction = #{record.banFiction,jdbcType=BIT},
      </if>
      <if test="record.banComment != null">
        banComment = #{record.banComment,jdbcType=BIT},
      </if>
      <if test="record.deleteOwnTopic != null">
        deleteOwnTopic = #{record.deleteOwnTopic,jdbcType=BIT},
      </if>
      <if test="record.deleteOwnReply != null">
        deleteOwnReply = #{record.deleteOwnReply,jdbcType=BIT},
      </if>
      <if test="record.deleteOwnFiction != null">
        deleteOwnFiction = #{record.deleteOwnFiction,jdbcType=BIT},
      </if>
      <if test="record.deleteOwnChapter != null">
        deleteOwnChapter = #{record.deleteOwnChapter,jdbcType=BIT},
      </if>
      <if test="record.deleteOwnComment != null">
        deleteOwnComment = #{record.deleteOwnComment,jdbcType=BIT},
      </if>
      <if test="record.deleteTopic != null">
        deleteTopic = #{record.deleteTopic,jdbcType=BIT},
      </if>
      <if test="record.deleteReply != null">
        deleteReply = #{record.deleteReply,jdbcType=BIT},
      </if>
      <if test="record.deleteFiction != null">
        deleteFiction = #{record.deleteFiction,jdbcType=BIT},
      </if>
      <if test="record.deleteChapter != null">
        deleteChapter = #{record.deleteChapter,jdbcType=BIT},
      </if>
      <if test="record.deleteComment != null">
        deleteComment = #{record.deleteComment,jdbcType=BIT},
      </if>
      <if test="record.lockTopic != null">
        lockTopic = #{record.lockTopic,jdbcType=BIT},
      </if>
      <if test="record.lockFiction != null">
        lockFiction = #{record.lockFiction,jdbcType=BIT},
      </if>
      <if test="record.lockChapter != null">
        lockChapter = #{record.lockChapter,jdbcType=BIT},
      </if>
      <if test="record.lockNotice != null">
        lockNotice = #{record.lockNotice,jdbcType=BIT},
      </if>
      <if test="record.lockContentOfTopic != null">
        lockContentOfTopic = #{record.lockContentOfTopic,jdbcType=BIT},
      </if>
      <if test="record.lockContentOfFiction != null">
        lockContentOfFiction = #{record.lockContentOfFiction,jdbcType=BIT},
      </if>
      <if test="record.lockContentOfChapter != null">
        lockContentOfChapter = #{record.lockContentOfChapter,jdbcType=BIT},
      </if>
      <if test="record.lockCommentOfOwnFiction != null">
        lockCommentOfOwnFiction = #{record.lockCommentOfOwnFiction,jdbcType=BIT},
      </if>
      <if test="record.lockCommentOfOwnChapter != null">
        lockCommentOfOwnChapter = #{record.lockCommentOfOwnChapter,jdbcType=BIT},
      </if>
      <if test="record.lockCommentOfFiction != null">
        lockCommentOfFiction = #{record.lockCommentOfFiction,jdbcType=BIT},
      </if>
      <if test="record.lockCommentOfChapter != null">
        lockCommentOfChapter = #{record.lockCommentOfChapter,jdbcType=BIT},
      </if>
      <if test="record.hideOwnTopic != null">
        hideOwnTopic = #{record.hideOwnTopic,jdbcType=BIT},
      </if>
      <if test="record.hideOwnFiction != null">
        hideOwnFiction = #{record.hideOwnFiction,jdbcType=BIT},
      </if>
      <if test="record.hideOwnChapter != null">
        hideOwnChapter = #{record.hideOwnChapter,jdbcType=BIT},
      </if>
      <if test="record.hideOwnComment != null">
        hideOwnComment = #{record.hideOwnComment,jdbcType=BIT},
      </if>
      <if test="record.hideTopic != null">
        hideTopic = #{record.hideTopic,jdbcType=BIT},
      </if>
      <if test="record.hideFiction != null">
        hideFiction = #{record.hideFiction,jdbcType=BIT},
      </if>
      <if test="record.hideChapter != null">
        hideChapter = #{record.hideChapter,jdbcType=BIT},
      </if>
      <if test="record.hideComment != null">
        hideComment = #{record.hideComment,jdbcType=BIT},
      </if>
      <if test="record.setAnonymousOfOwnTopic != null">
        setAnonymousOfOwnTopic = #{record.setAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="record.setAnonymousOfOwnReply != null">
        setAnonymousOfOwnReply = #{record.setAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="record.setAnonymousOfOwnComment != null">
        setAnonymousOfOwnComment = #{record.setAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousOfOwnTopic != null">
        cancelAnonymousOfOwnTopic = #{record.cancelAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousOfOwnReply != null">
        cancelAnonymousOfOwnReply = #{record.cancelAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousOfOwnComment != null">
        cancelAnonymousOfOwnComment = #{record.cancelAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousTopic != null">
        cancelAnonymousTopic = #{record.cancelAnonymousTopic,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousReply != null">
        cancelAnonymousReply = #{record.cancelAnonymousReply,jdbcType=BIT},
      </if>
      <if test="record.cancelAnonymousComment != null">
        cancelAnonymousComment = #{record.cancelAnonymousComment,jdbcType=BIT},
      </if>
      <if test="record.restricOwnFiction != null">
        restricOwnFiction = #{record.restricOwnFiction,jdbcType=BIT},
      </if>
      <if test="record.restricOwnChapter != null">
        restricOwnChapter = #{record.restricOwnChapter,jdbcType=BIT},
      </if>
      <if test="record.restricOwnTopic != null">
        restricOwnTopic = #{record.restricOwnTopic,jdbcType=BIT},
      </if>
      <if test="record.restrictFiction != null">
        restrictFiction = #{record.restrictFiction,jdbcType=BIT},
      </if>
      <if test="record.restricChapter != null">
        restricChapter = #{record.restricChapter,jdbcType=BIT},
      </if>
      <if test="record.restricTopic != null">
        restricTopic = #{record.restricTopic,jdbcType=BIT},
      </if>
      <if test="record.restricCategory != null">
        restricCategory = #{record.restricCategory,jdbcType=BIT},
      </if>
      <if test="record.restricBoard != null">
        restricBoard = #{record.restricBoard,jdbcType=BIT},
      </if>
      <if test="record.addCategory != null">
        addCategory = #{record.addCategory,jdbcType=BIT},
      </if>
      <if test="record.addBoard != null">
        addBoard = #{record.addBoard,jdbcType=BIT},
      </if>
      <if test="record.lockCategory != null">
        lockCategory = #{record.lockCategory,jdbcType=BIT},
      </if>
      <if test="record.lockBoard != null">
        lockBoard = #{record.lockBoard,jdbcType=BIT},
      </if>
      <if test="record.hideCategory != null">
        hideCategory = #{record.hideCategory,jdbcType=BIT},
      </if>
      <if test="record.hideBoard != null">
        hideBoard = #{record.hideBoard,jdbcType=BIT},
      </if>
      <if test="record.deleteCategory != null">
        deleteCategory = #{record.deleteCategory,jdbcType=BIT},
      </if>
      <if test="record.deleteBoard != null">
        deleteBoard = #{record.deleteBoard,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authority
    set id = #{record.id,jdbcType=INTEGER},
      role = #{record.role,jdbcType=VARCHAR},
      banAccount = #{record.banAccount,jdbcType=BIT},
      banTopic = #{record.banTopic,jdbcType=BIT},
      banReply = #{record.banReply,jdbcType=BIT},
      banMessage = #{record.banMessage,jdbcType=BIT},
      banFiction = #{record.banFiction,jdbcType=BIT},
      banComment = #{record.banComment,jdbcType=BIT},
      deleteOwnTopic = #{record.deleteOwnTopic,jdbcType=BIT},
      deleteOwnReply = #{record.deleteOwnReply,jdbcType=BIT},
      deleteOwnFiction = #{record.deleteOwnFiction,jdbcType=BIT},
      deleteOwnChapter = #{record.deleteOwnChapter,jdbcType=BIT},
      deleteOwnComment = #{record.deleteOwnComment,jdbcType=BIT},
      deleteTopic = #{record.deleteTopic,jdbcType=BIT},
      deleteReply = #{record.deleteReply,jdbcType=BIT},
      deleteFiction = #{record.deleteFiction,jdbcType=BIT},
      deleteChapter = #{record.deleteChapter,jdbcType=BIT},
      deleteComment = #{record.deleteComment,jdbcType=BIT},
      lockTopic = #{record.lockTopic,jdbcType=BIT},
      lockFiction = #{record.lockFiction,jdbcType=BIT},
      lockChapter = #{record.lockChapter,jdbcType=BIT},
      lockNotice = #{record.lockNotice,jdbcType=BIT},
      lockContentOfTopic = #{record.lockContentOfTopic,jdbcType=BIT},
      lockContentOfFiction = #{record.lockContentOfFiction,jdbcType=BIT},
      lockContentOfChapter = #{record.lockContentOfChapter,jdbcType=BIT},
      lockCommentOfOwnFiction = #{record.lockCommentOfOwnFiction,jdbcType=BIT},
      lockCommentOfOwnChapter = #{record.lockCommentOfOwnChapter,jdbcType=BIT},
      lockCommentOfFiction = #{record.lockCommentOfFiction,jdbcType=BIT},
      lockCommentOfChapter = #{record.lockCommentOfChapter,jdbcType=BIT},
      hideOwnTopic = #{record.hideOwnTopic,jdbcType=BIT},
      hideOwnFiction = #{record.hideOwnFiction,jdbcType=BIT},
      hideOwnChapter = #{record.hideOwnChapter,jdbcType=BIT},
      hideOwnComment = #{record.hideOwnComment,jdbcType=BIT},
      hideTopic = #{record.hideTopic,jdbcType=BIT},
      hideFiction = #{record.hideFiction,jdbcType=BIT},
      hideChapter = #{record.hideChapter,jdbcType=BIT},
      hideComment = #{record.hideComment,jdbcType=BIT},
      setAnonymousOfOwnTopic = #{record.setAnonymousOfOwnTopic,jdbcType=BIT},
      setAnonymousOfOwnReply = #{record.setAnonymousOfOwnReply,jdbcType=BIT},
      setAnonymousOfOwnComment = #{record.setAnonymousOfOwnComment,jdbcType=BIT},
      cancelAnonymousOfOwnTopic = #{record.cancelAnonymousOfOwnTopic,jdbcType=BIT},
      cancelAnonymousOfOwnReply = #{record.cancelAnonymousOfOwnReply,jdbcType=BIT},
      cancelAnonymousOfOwnComment = #{record.cancelAnonymousOfOwnComment,jdbcType=BIT},
      cancelAnonymousTopic = #{record.cancelAnonymousTopic,jdbcType=BIT},
      cancelAnonymousReply = #{record.cancelAnonymousReply,jdbcType=BIT},
      cancelAnonymousComment = #{record.cancelAnonymousComment,jdbcType=BIT},
      restricOwnFiction = #{record.restricOwnFiction,jdbcType=BIT},
      restricOwnChapter = #{record.restricOwnChapter,jdbcType=BIT},
      restricOwnTopic = #{record.restricOwnTopic,jdbcType=BIT},
      restrictFiction = #{record.restrictFiction,jdbcType=BIT},
      restricChapter = #{record.restricChapter,jdbcType=BIT},
      restricTopic = #{record.restricTopic,jdbcType=BIT},
      restricCategory = #{record.restricCategory,jdbcType=BIT},
      restricBoard = #{record.restricBoard,jdbcType=BIT},
      addCategory = #{record.addCategory,jdbcType=BIT},
      addBoard = #{record.addBoard,jdbcType=BIT},
      lockCategory = #{record.lockCategory,jdbcType=BIT},
      lockBoard = #{record.lockBoard,jdbcType=BIT},
      hideCategory = #{record.hideCategory,jdbcType=BIT},
      hideBoard = #{record.hideBoard,jdbcType=BIT},
      deleteCategory = #{record.deleteCategory,jdbcType=BIT},
      deleteBoard = #{record.deleteBoard,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.bean.Authority">
    update authority
    <set>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="banAccount != null">
        banAccount = #{banAccount,jdbcType=BIT},
      </if>
      <if test="banTopic != null">
        banTopic = #{banTopic,jdbcType=BIT},
      </if>
      <if test="banReply != null">
        banReply = #{banReply,jdbcType=BIT},
      </if>
      <if test="banMessage != null">
        banMessage = #{banMessage,jdbcType=BIT},
      </if>
      <if test="banFiction != null">
        banFiction = #{banFiction,jdbcType=BIT},
      </if>
      <if test="banComment != null">
        banComment = #{banComment,jdbcType=BIT},
      </if>
      <if test="deleteOwnTopic != null">
        deleteOwnTopic = #{deleteOwnTopic,jdbcType=BIT},
      </if>
      <if test="deleteOwnReply != null">
        deleteOwnReply = #{deleteOwnReply,jdbcType=BIT},
      </if>
      <if test="deleteOwnFiction != null">
        deleteOwnFiction = #{deleteOwnFiction,jdbcType=BIT},
      </if>
      <if test="deleteOwnChapter != null">
        deleteOwnChapter = #{deleteOwnChapter,jdbcType=BIT},
      </if>
      <if test="deleteOwnComment != null">
        deleteOwnComment = #{deleteOwnComment,jdbcType=BIT},
      </if>
      <if test="deleteTopic != null">
        deleteTopic = #{deleteTopic,jdbcType=BIT},
      </if>
      <if test="deleteReply != null">
        deleteReply = #{deleteReply,jdbcType=BIT},
      </if>
      <if test="deleteFiction != null">
        deleteFiction = #{deleteFiction,jdbcType=BIT},
      </if>
      <if test="deleteChapter != null">
        deleteChapter = #{deleteChapter,jdbcType=BIT},
      </if>
      <if test="deleteComment != null">
        deleteComment = #{deleteComment,jdbcType=BIT},
      </if>
      <if test="lockTopic != null">
        lockTopic = #{lockTopic,jdbcType=BIT},
      </if>
      <if test="lockFiction != null">
        lockFiction = #{lockFiction,jdbcType=BIT},
      </if>
      <if test="lockChapter != null">
        lockChapter = #{lockChapter,jdbcType=BIT},
      </if>
      <if test="lockNotice != null">
        lockNotice = #{lockNotice,jdbcType=BIT},
      </if>
      <if test="lockContentOfTopic != null">
        lockContentOfTopic = #{lockContentOfTopic,jdbcType=BIT},
      </if>
      <if test="lockContentOfFiction != null">
        lockContentOfFiction = #{lockContentOfFiction,jdbcType=BIT},
      </if>
      <if test="lockContentOfChapter != null">
        lockContentOfChapter = #{lockContentOfChapter,jdbcType=BIT},
      </if>
      <if test="lockCommentOfOwnFiction != null">
        lockCommentOfOwnFiction = #{lockCommentOfOwnFiction,jdbcType=BIT},
      </if>
      <if test="lockCommentOfOwnChapter != null">
        lockCommentOfOwnChapter = #{lockCommentOfOwnChapter,jdbcType=BIT},
      </if>
      <if test="lockCommentOfFiction != null">
        lockCommentOfFiction = #{lockCommentOfFiction,jdbcType=BIT},
      </if>
      <if test="lockCommentOfChapter != null">
        lockCommentOfChapter = #{lockCommentOfChapter,jdbcType=BIT},
      </if>
      <if test="hideOwnTopic != null">
        hideOwnTopic = #{hideOwnTopic,jdbcType=BIT},
      </if>
      <if test="hideOwnFiction != null">
        hideOwnFiction = #{hideOwnFiction,jdbcType=BIT},
      </if>
      <if test="hideOwnChapter != null">
        hideOwnChapter = #{hideOwnChapter,jdbcType=BIT},
      </if>
      <if test="hideOwnComment != null">
        hideOwnComment = #{hideOwnComment,jdbcType=BIT},
      </if>
      <if test="hideTopic != null">
        hideTopic = #{hideTopic,jdbcType=BIT},
      </if>
      <if test="hideFiction != null">
        hideFiction = #{hideFiction,jdbcType=BIT},
      </if>
      <if test="hideChapter != null">
        hideChapter = #{hideChapter,jdbcType=BIT},
      </if>
      <if test="hideComment != null">
        hideComment = #{hideComment,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnTopic != null">
        setAnonymousOfOwnTopic = #{setAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnReply != null">
        setAnonymousOfOwnReply = #{setAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="setAnonymousOfOwnComment != null">
        setAnonymousOfOwnComment = #{setAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnTopic != null">
        cancelAnonymousOfOwnTopic = #{cancelAnonymousOfOwnTopic,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnReply != null">
        cancelAnonymousOfOwnReply = #{cancelAnonymousOfOwnReply,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousOfOwnComment != null">
        cancelAnonymousOfOwnComment = #{cancelAnonymousOfOwnComment,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousTopic != null">
        cancelAnonymousTopic = #{cancelAnonymousTopic,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousReply != null">
        cancelAnonymousReply = #{cancelAnonymousReply,jdbcType=BIT},
      </if>
      <if test="cancelAnonymousComment != null">
        cancelAnonymousComment = #{cancelAnonymousComment,jdbcType=BIT},
      </if>
      <if test="restricOwnFiction != null">
        restricOwnFiction = #{restricOwnFiction,jdbcType=BIT},
      </if>
      <if test="restricOwnChapter != null">
        restricOwnChapter = #{restricOwnChapter,jdbcType=BIT},
      </if>
      <if test="restricOwnTopic != null">
        restricOwnTopic = #{restricOwnTopic,jdbcType=BIT},
      </if>
      <if test="restrictFiction != null">
        restrictFiction = #{restrictFiction,jdbcType=BIT},
      </if>
      <if test="restricChapter != null">
        restricChapter = #{restricChapter,jdbcType=BIT},
      </if>
      <if test="restricTopic != null">
        restricTopic = #{restricTopic,jdbcType=BIT},
      </if>
      <if test="restricCategory != null">
        restricCategory = #{restricCategory,jdbcType=BIT},
      </if>
      <if test="restricBoard != null">
        restricBoard = #{restricBoard,jdbcType=BIT},
      </if>
      <if test="addCategory != null">
        addCategory = #{addCategory,jdbcType=BIT},
      </if>
      <if test="addBoard != null">
        addBoard = #{addBoard,jdbcType=BIT},
      </if>
      <if test="lockCategory != null">
        lockCategory = #{lockCategory,jdbcType=BIT},
      </if>
      <if test="lockBoard != null">
        lockBoard = #{lockBoard,jdbcType=BIT},
      </if>
      <if test="hideCategory != null">
        hideCategory = #{hideCategory,jdbcType=BIT},
      </if>
      <if test="hideBoard != null">
        hideBoard = #{hideBoard,jdbcType=BIT},
      </if>
      <if test="deleteCategory != null">
        deleteCategory = #{deleteCategory,jdbcType=BIT},
      </if>
      <if test="deleteBoard != null">
        deleteBoard = #{deleteBoard,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.Authority">
    update authority
    set role = #{role,jdbcType=VARCHAR},
      banAccount = #{banAccount,jdbcType=BIT},
      banTopic = #{banTopic,jdbcType=BIT},
      banReply = #{banReply,jdbcType=BIT},
      banMessage = #{banMessage,jdbcType=BIT},
      banFiction = #{banFiction,jdbcType=BIT},
      banComment = #{banComment,jdbcType=BIT},
      deleteOwnTopic = #{deleteOwnTopic,jdbcType=BIT},
      deleteOwnReply = #{deleteOwnReply,jdbcType=BIT},
      deleteOwnFiction = #{deleteOwnFiction,jdbcType=BIT},
      deleteOwnChapter = #{deleteOwnChapter,jdbcType=BIT},
      deleteOwnComment = #{deleteOwnComment,jdbcType=BIT},
      deleteTopic = #{deleteTopic,jdbcType=BIT},
      deleteReply = #{deleteReply,jdbcType=BIT},
      deleteFiction = #{deleteFiction,jdbcType=BIT},
      deleteChapter = #{deleteChapter,jdbcType=BIT},
      deleteComment = #{deleteComment,jdbcType=BIT},
      lockTopic = #{lockTopic,jdbcType=BIT},
      lockFiction = #{lockFiction,jdbcType=BIT},
      lockChapter = #{lockChapter,jdbcType=BIT},
      lockNotice = #{lockNotice,jdbcType=BIT},
      lockContentOfTopic = #{lockContentOfTopic,jdbcType=BIT},
      lockContentOfFiction = #{lockContentOfFiction,jdbcType=BIT},
      lockContentOfChapter = #{lockContentOfChapter,jdbcType=BIT},
      lockCommentOfOwnFiction = #{lockCommentOfOwnFiction,jdbcType=BIT},
      lockCommentOfOwnChapter = #{lockCommentOfOwnChapter,jdbcType=BIT},
      lockCommentOfFiction = #{lockCommentOfFiction,jdbcType=BIT},
      lockCommentOfChapter = #{lockCommentOfChapter,jdbcType=BIT},
      hideOwnTopic = #{hideOwnTopic,jdbcType=BIT},
      hideOwnFiction = #{hideOwnFiction,jdbcType=BIT},
      hideOwnChapter = #{hideOwnChapter,jdbcType=BIT},
      hideOwnComment = #{hideOwnComment,jdbcType=BIT},
      hideTopic = #{hideTopic,jdbcType=BIT},
      hideFiction = #{hideFiction,jdbcType=BIT},
      hideChapter = #{hideChapter,jdbcType=BIT},
      hideComment = #{hideComment,jdbcType=BIT},
      setAnonymousOfOwnTopic = #{setAnonymousOfOwnTopic,jdbcType=BIT},
      setAnonymousOfOwnReply = #{setAnonymousOfOwnReply,jdbcType=BIT},
      setAnonymousOfOwnComment = #{setAnonymousOfOwnComment,jdbcType=BIT},
      cancelAnonymousOfOwnTopic = #{cancelAnonymousOfOwnTopic,jdbcType=BIT},
      cancelAnonymousOfOwnReply = #{cancelAnonymousOfOwnReply,jdbcType=BIT},
      cancelAnonymousOfOwnComment = #{cancelAnonymousOfOwnComment,jdbcType=BIT},
      cancelAnonymousTopic = #{cancelAnonymousTopic,jdbcType=BIT},
      cancelAnonymousReply = #{cancelAnonymousReply,jdbcType=BIT},
      cancelAnonymousComment = #{cancelAnonymousComment,jdbcType=BIT},
      restricOwnFiction = #{restricOwnFiction,jdbcType=BIT},
      restricOwnChapter = #{restricOwnChapter,jdbcType=BIT},
      restricOwnTopic = #{restricOwnTopic,jdbcType=BIT},
      restrictFiction = #{restrictFiction,jdbcType=BIT},
      restricChapter = #{restricChapter,jdbcType=BIT},
      restricTopic = #{restricTopic,jdbcType=BIT},
      restricCategory = #{restricCategory,jdbcType=BIT},
      restricBoard = #{restricBoard,jdbcType=BIT},
      addCategory = #{addCategory,jdbcType=BIT},
      addBoard = #{addBoard,jdbcType=BIT},
      lockCategory = #{lockCategory,jdbcType=BIT},
      lockBoard = #{lockBoard,jdbcType=BIT},
      hideCategory = #{hideCategory,jdbcType=BIT},
      hideBoard = #{hideBoard,jdbcType=BIT},
      deleteCategory = #{deleteCategory,jdbcType=BIT},
      deleteBoard = #{deleteBoard,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>