<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnxaread.dao.BoardMapper">
  <resultMap id="BaseResultMap" type="com.jnxaread.bean.Board">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="noticeCount" jdbcType="INTEGER" property="noticeCount" />
    <result column="topicCount" jdbcType="INTEGER" property="topicCount" />
    <result column="replyCount" jdbcType="INTEGER" property="replyCount" />
    <result column="restricted" jdbcType="INTEGER" property="restricted" />
    <result column="topicLocked" jdbcType="BIT" property="topicLocked" />
    <result column="replyLocked" jdbcType="BIT" property="replyLocked" />
    <result column="hided" jdbcType="BIT" property="hided" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, description, noticeCount, topicCount, replyCount, restricted, topicLocked,
    replyLocked, hided, deleted, createTime
  </sql>
  <select id="selectByExample" parameterType="com.jnxaread.bean.BoardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from board
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from board
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from board
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jnxaread.bean.BoardExample">
    delete from board
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jnxaread.bean.Board">
    insert into board (id, name, description,
      noticeCount, topicCount, replyCount,
      restricted, topicLocked, replyLocked,
      hided, deleted, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{noticeCount,jdbcType=INTEGER}, #{topicCount,jdbcType=INTEGER}, #{replyCount,jdbcType=INTEGER},
      #{restricted,jdbcType=INTEGER}, #{topicLocked,jdbcType=BIT}, #{replyLocked,jdbcType=BIT},
      #{hided,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jnxaread.bean.Board">
    insert into board
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="noticeCount != null">
        noticeCount,
      </if>
      <if test="topicCount != null">
        topicCount,
      </if>
      <if test="replyCount != null">
        replyCount,
      </if>
      <if test="restricted != null">
        restricted,
      </if>
      <if test="topicLocked != null">
        topicLocked,
      </if>
      <if test="replyLocked != null">
        replyLocked,
      </if>
      <if test="hided != null">
        hided,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="noticeCount != null">
        #{noticeCount,jdbcType=INTEGER},
      </if>
      <if test="topicCount != null">
        #{topicCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null">
        #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="restricted != null">
        #{restricted,jdbcType=INTEGER},
      </if>
      <if test="topicLocked != null">
        #{topicLocked,jdbcType=BIT},
      </if>
      <if test="replyLocked != null">
        #{replyLocked,jdbcType=BIT},
      </if>
      <if test="hided != null">
        #{hided,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jnxaread.bean.BoardExample" resultType="java.lang.Long">
    select count(*) from board
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update board
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeCount != null">
        noticeCount = #{record.noticeCount,jdbcType=INTEGER},
      </if>
      <if test="record.topicCount != null">
        topicCount = #{record.topicCount,jdbcType=INTEGER},
      </if>
      <if test="record.replyCount != null">
        replyCount = #{record.replyCount,jdbcType=INTEGER},
      </if>
      <if test="record.restricted != null">
        restricted = #{record.restricted,jdbcType=INTEGER},
      </if>
      <if test="record.topicLocked != null">
        topicLocked = #{record.topicLocked,jdbcType=BIT},
      </if>
      <if test="record.replyLocked != null">
        replyLocked = #{record.replyLocked,jdbcType=BIT},
      </if>
      <if test="record.hided != null">
        hided = #{record.hided,jdbcType=BIT},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update board
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      noticeCount = #{record.noticeCount,jdbcType=INTEGER},
      topicCount = #{record.topicCount,jdbcType=INTEGER},
      replyCount = #{record.replyCount,jdbcType=INTEGER},
      restricted = #{record.restricted,jdbcType=INTEGER},
      topicLocked = #{record.topicLocked,jdbcType=BIT},
      replyLocked = #{record.replyLocked,jdbcType=BIT},
      hided = #{record.hided,jdbcType=BIT},
      deleted = #{record.deleted,jdbcType=BIT},
      createTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnxaread.bean.Board">
    update board
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="noticeCount != null">
        noticeCount = #{noticeCount,jdbcType=INTEGER},
      </if>
      <if test="topicCount != null">
        topicCount = #{topicCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null">
        replyCount = #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="restricted != null">
        restricted = #{restricted,jdbcType=INTEGER},
      </if>
      <if test="topicLocked != null">
        topicLocked = #{topicLocked,jdbcType=BIT},
      </if>
      <if test="replyLocked != null">
        replyLocked = #{replyLocked,jdbcType=BIT},
      </if>
      <if test="hided != null">
        hided = #{hided,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnxaread.bean.Board">
    update board
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      noticeCount = #{noticeCount,jdbcType=INTEGER},
      topicCount = #{topicCount,jdbcType=INTEGER},
      replyCount = #{replyCount,jdbcType=INTEGER},
      restricted = #{restricted,jdbcType=INTEGER},
      topicLocked = #{topicLocked,jdbcType=BIT},
      replyLocked = #{replyLocked,jdbcType=BIT},
      hided = #{hided,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
